<div class="terms-container">
    <h2>Terms & Conditions</h2>
    <ul>
      <li>
        The Gift card is valid for purchases made from Makemytrip only and is valid for a period of 12 Months from the date of Purchase.
      </li>
      <li>
        These are generic T&Cs of the Gift Cards, please also refer to individual card T&Cs on the category of card purchased.
      </li>
      <li>
        Hotels Gift Card can be only redeemed on Hotels on HolidayMakers.com (App & website).
      </li>
      <li>
        Holidays Gift Card can only be redeemed on Holiday packages on HolidayMakers.com through any of our channels as mentioned below.
      </li>
      <li>
        Luxury Getaways Gift Cards can only be redeemed on hotel properties designated 5-Star (by Star rating) on HolidayMakers platform.
      </li>
      <li>
        <strong>For Redemption of the cards -</strong>
        <ul>
          <li>
            <strong>For Flights, Hotels & Holidays:</strong>
            <ul>
              <li>
                Can be redeemed online at www.holidaymakers.com or on HolidayMakers Android & IOS app. Please follow the steps listed below:
                <ul>
                  <li>Select your Flight/Hotel and fill required details till you reach the payment page.</li>
                  <li>On Website, click on "More options" and select "Gift Card" as your Payment Mode. On Android and iOS app, choose Gift Card as the payment option.</li>
                  <li>Enter your Gift Card/Card No. (16 Digit) and 6 Digit Pin No.</li>
                  <li>Click on "Make Payment" and Pay the Balance amount (if any) using other Payment Modes Listed.</li>
                </ul>
              </li>
              <li>Flights & Hotels are not redeemable offline.</li>
            </ul>
          </li>
          <li>
            <strong>For redeeming Holidays offline through our Holiday Experts:</strong>
            <ul>
              <li>Domestic Holiday packages: <strong>9595959601</strong></li>
              <li>International Holiday packages: <strong>9595959618</strong></li>
              <li>
                Alternatively, you can also write on <strong><a href="mailto:gifts&#64;holidaymakers.com">gifts&#64;holidaymakers.com</a></strong>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>This Gift card is not valid on Bus, Rail, Homestay, Visa, Experiences and Car bookings.</li>
      <li>In case of transaction failures after Gift Card is applied, amount shall be automatically refunded to the same cards within 24 hours.</li>
      <li>This Gift card/voucher cannot be clubbed with any other ongoing offer/discount/cash back/promotion run by Makemytrip.com on app or website.</li>
      <li>This Gift card is valid for partial redemption. Balance would remain in the Gift Card till the validity period and can be reused for multiple transactions.</li>
      <li>Multiple Gift Cards (up to 3) can be combined and used on 1 transaction.</li>
      <li>Products and services are subject to availability.</li>
      <li>The Gift card cannot be cancelled or exchanged for cash.</li>
      <li>The Gift card and validity cannot be extended under any circumstances.</li>
      <li>Gift Card code/Physical copy or both to be provided at the time of booking along with an ID proof for the offline redemption.</li>
      <li>HolidayMakers is not responsible if the Gift card is lost, stolen or used without permission.</li>
    </ul>
  </div>
  